/* Styling */
.products {
    z-index: 50;
    background-color: white;
}
.product {
    padding: 1rem;
}
.product:hover {
    cursor: pointer;
    text-decoration: underline;
}
.product-img {
    max-width: 20vw !important;
}
.product-name {
    font-family: "HanleyProSlimBold";
    font-size: 1vw;
    padding-top: 1rem;
}
.brand-name {
    font-family: "HanleyProSans";
    padding-top: 1rem;
}
.price {
    text-decoration: none !important;
}
