/* Custom fonts */
@font-face {
    font-family: "HanleyProSans";
    src: url("../fonts/Hanley-Pro-Sans.otf") format("opentype");
}
@font-face {
    font-family: "HanleyProBlock";
    src: url("../fonts/Hanley-Pro-Block.otf") format("opentype");
}
@font-face {
    font-family: "HanleyProBlockInline";
    src: url("../fonts/Hanley-Pro-Block-Inline.otf") format("opentype");
}
@font-face {
    font-family: "HanleyProSlimBold";
    src: url("../fonts/Hanley-Pro-Slim-Bold.otf") format("opentype");
}

/* Styling */
body {
    background-color: white !important;
    width: 100vw !important;
    position: absolute !important;
    scroll-behavior: smooth !important;
    
}
hr {
    margin: 0 !important;
    margin-bottom: 1rem !important;
    color: white !important;
}
a {
    text-decoration: none !important;
}
.header {
    background: url(/images/big-image-example.jpg) no-repeat center;
}
.main-logo {
    cursor: pointer;
    max-width: 40%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.small-logo {
    max-width: 100%;
    max-height: 100%;
}
.small-logo-parent {
    width: 9vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    font-family: "HanleyProSans";
    font-size: 0.8vw;
}
.navlink {
    cursor: pointer;
    margin-bottom: 1rem;
    color: white;
}
.navlink:hover {
    text-decoration: underline;
}
.sticky-navbar {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: white;
}
.sticky-navlink {
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 0.5rem !important;
    color: black;
}
.sticky-navlink:hover {
    text-decoration: underline;
}
.space {
    padding-top: 30rem;
}
.content {
    font-family: "HanleyProSans";
    text-align: center;
}